@font-face {
  font-family: 'Fixedsys500c';
  src: url('~@/assets/fonts/Fixedsys500c/Fixedsys500c.eot');
  src: url('~@/assets/fonts/Fixedsys500c/Fixedsys500c.eot') format('embedded-opentype'),
  url('~@/assets/fonts/Fixedsys500c/Fixedsys500c.woff') format('woff'),
  url('~@/assets/fonts/Fixedsys500c/Fixedsys500c.ttf') format('truetype'),
  url('~@/assets/fonts/Fixedsys500c/Fixedsys500c.svg#Fixedsys500c') format('svg');
  font-weight: normal;
  font-style: normal;
}