form,fieldset{
  display: inline-block;
  border: none;
}
textarea,
input[type="text"],
input[type="password"] {
  font-family: 'Fixedsys500c';
  background-color: #bbbbbb;
  border: 0;
  border-bottom: 2px solid #000000;
  display: inline-block;
  height: 20px;
  padding: 0 0;
  margin: 10px 5px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  vertical-align: middle;
  &:focus{
    outline: none;
  }
}
label{
  display: block;
  margin-bottom: 5px;
}